/******* COMMON *******/
img {
    max-width: 100%;
}

:root {
    --color-dark-blue: #2c3e50;
    --color-light-blue: #1c83c1;
    --color-water-blue: #1ea4b6;
    --color-blue: #0e38b5;
    --color-green: #1abc9c;
    --color-pink: #ba4b63;
    --color-white: #ffffff;
    --color-black: #000000;
    --color-dark-brown: #140f0f;
    --color-light-brown: #ccb2a3;
}

/*background colors  */
.bg_green {
    background-color: var(--color-green);
}

.bg_pink {
    background-color: var(--color-pink);
}


.bg_light-blue {
    background-color: var(--color-light-blue);
}

.bg_water-blue {
    background-color: var(--color-water-blue);
}

.bg_blue {
    background-color: var(--color-blue);
}

.bg_dark-brown {
    background-color: var(--color-dark-brown);
}

.bg_light-brown {
    background-color: var(--color-light-brown);
}

/* colors */
.color_white {
    color: var(--color-white);
}

.color_dark-blue {
    color: var(--color-dark-blue)
}

/* border  */
.bd_white {
    border: 1px solid var(--color-white);
    color: var(--color-white);
}


/******* HEADER *******/
header {
    width: 100%;
    height: 85px;
    line-height: 85px;
    background-color: var(--color-dark-blue);
    color: var(--color-white); 
}

header ul li {
    margin-left: 10px;
}

#jumbotron img {
    max-width: 250px;
}

/******* MAIN *******/
section {
    padding: 2.5rem 0 1.5rem;
}

/* jumbotron section  */
#jumbotron {
    color: var(--color-white);
}

/* portfolio seciton  */
.my_card {
    width: 100%;
    height: 300px;
    border-radius: 10px;
}



/******* FOOTER *******/
footer {
    padding-top: 2.5rem;
    background-color: #3a546d;
    color: var(--color-white);
}

.wrapper {
    background-color: #2c3e50;
    height: 85px;
    line-height: 85px;
}