/******* COMMON *******/
img {
    max-width: 100%;
}

:root {
    --ms_color-dark-blue: #2c3e50;
    --ms_color-light-blue: #1c83c1;
    --ms_color-green: #1abc9c;
    --ms_color-white: #ffffff;
    --ms_color-black: #000000;
}

/*background colors  */
.ms_bg-green {
    background-color: var(--ms_color-green);
}

/* colors */
.ms_color-white {
    color: var(--ms_color-white);
}

.ms_color-dark-blue {
    color: var(--ms_color-dark-blue)
}

.ms_color-green {
    color: var(--ms_color-green);
}

/* border  */
.ms_bd-white {
    border: 1px solid var(--ms_color-white);
    color: var(--ms_color-white);
}

/******* HEADER *******/
header {
    width: 100%;
    height: 85px;
    line-height: 85px;
    background-color: var(--ms_color-dark-blue);
    color: var(--ms_color-white); 
}

header a {
    color: inherit;
    text-decoration: none;
}

header ul li {
    margin-left: 10px;
}

#jumbotron img {
    max-width: 250px;
}

/******* MAIN *******/
.ms_section {
    padding: 2.5rem 0 1.5rem;
}


/* star  */
.ms_star::before {
    content: "";
    display: inline-block;
    height: 4px;
    width:15%;
    border-radius: 10px;
    margin-right: 10px;
    background-color: var(--ms_color-white);
}

.ms_star::after {
    content: "";
    display: inline-block;
    height: 4px;
    width:15%;
    border-radius: 10px;
    margin-left: 10px;
    background-color: var(--ms_color-white);
}

/* jumbotron section  */
#jumbotron {
    color: var(--ms_color-white);
}

/* portfolio seciton  */
.ms_card {
    width: 100%; 
}

#portfolio img {
    width: 100%;
    border-radius: 10px;
}

#portfolio .ms_star::before {
    background-color: var(--ms_color-dark-blue);
}

#portfolio .ms_star::after {
    background-color: var(--ms_color-dark-blue);
}

/* about section  */
#about .ms_star::before {
    background-color: var(--ms_color-white);
}

#about .ms_star::after {
    background-color: var(--ms_color-white);
}

/* contact me section  */
#contact .ms_star::before {
    background-color: var(--ms_color-dark-blue);
}

#contact .ms_star::after {
    background-color: var(--ms_color-dark-blue);
}

#contact .form-control:focus {
    box-shadow: none;
}

#contact .form-control {
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-radius: 0;
}
/******* FOOTER *******/
/* footer top  */
.ms_footer {
    padding-top: 3rem;
    background-color: #3a546d;
    color: var(--ms_color-white);
}

.ms_icons i {
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin: 0 0.5rem;
    border: 1px solid white;
    border-radius: 50%;
}
/* footer bottom  */
.ms_wrapper {
    background-color: #2c3e50;
    height: 85px;
    line-height: 85px;
}